<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Nom</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nom de l'entité">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Type</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Entreprise</option>
            <option>Association</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>