<%- include ('../layout.ejs') %>
<h2 class="mt-4"><%= title %></h2>
<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Marque</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ex: Citroën">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Modèle</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex: C3">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput3">Puissance</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Ex: 2CV">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput4">Année</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Ex: 2003">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput5">Immatriculation</label>
        <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Ex: 158-MQL-974">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Entité</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>liste d'entité</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>
<%- include ('../footer.ejs') %>