<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
 
<body>
    <nav class="navbar navbar-dark bg-light">
        <a class="navbar-brand">Fiches kilométrique</a>
        <a class="navbar-brand" href="/createCar">createCar</a>
        <a class="navbar-brand" href="/createEntity">createEntity</a>
        <a class="navbar-brand" href="/createFiche">createFiche</a>
        <a class="navbar-brand" href="/viewIndemnity">createIndemnity</a>
        <button class="btn btn-outline-danger" id="quit">Déconnexion</button>
    </nav>
    
    <div class="container">
        <div class="container-fluid h-100">
            <div class="row h-100">
              <aside class="col-12 col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                  <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item">
                         <a class="nav-link pl-0" href="#">Menu 1</a>
                      </li>
                      <!-- Insérez ici le reste de votre menu -->            
                    </ul>
                  </div>
                </nav>
              </aside>
              <main class="col">