<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="../css/simple-sidebar.css" rel="stylesheet">
  </head>
 
<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Fiches Kilométrique </div>
      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/entites" class="list-group-item list-group-item-action bg-light">Entités</a>
        <a href="/vehicules" class="list-group-item list-group-item-action bg-light">Vehicules</a>
        <a href="/individus" class="list-group-item list-group-item-action bg-light">Individus</a>
        <a href="/fiches" class="list-group-item list-group-item-action bg-light">Fiches</a>
        <a href="/viewIndemnity" class="list-group-item list-group-item-action bg-light">Indemnités</a>
        <a href="/objet" class="list-group-item list-group-item-action bg-light">Objets</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>
      </nav>

      <div class="container-fluid">